:root{
  --back: rgb(26, 38, 35);
  --button: rgb(77,93,83);
  --text: rgb(115,130,118);
}

body{
  background-color: var(--back);
  margin: 20px 28px;
  font-family: sans-serif;
}

.game-wrapper{
  border: 1px solid var(--text);
  margin: 30px 10px;
  height: 75vh;
}

.text-wrapper{
  padding: 30px;
}


.box-heading{
  background-color: var(--text);
  color: var(--back);
  margin: 0;
  padding: 10px;
  font-size: 25x;
}

p, button {
  font-size: 18px;
}

p {
  color: var(--text);
}